# ======================
# Python cache / bytecode
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environment
# ======================
.venv/
venv/

# ======================
# IDE files
# ======================
.idea/

# ======================
# DATASET STRUCTURE
# Klasörler kalsın, image'lar ignore
# ======================

# Kvasir images & masks
data/kvasir/images/*
data/kvasir/masks/*

# Test images
data/cvc_test/images/*
data/cvc_test/masks/*


# Allow .gitkeep files
!data/kvasir/images/.gitkeep
!data/kvasir/masks/.gitkeep


!data/cvc_test/images/.gitkeep
!data/cvc_test/masks/.gitkeep

# ======================
# MODELS (trained weights)
# ======================
models/*
!models/.gitkeep

# ======================
# RESULTS (generated outputs)
# ======================
results/overlays/*
!results/overlays/.gitkeep


# ======================
# OS specific
# ======================
.DS_Store
Thumbs.db
